body{
    background-color: #25274d;
}
.contact{
    padding: 4%;
    height: 400px;
}
.col-md-3{
    background: #ff9b00;
    padding: 4%;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}
.contact-info{
    margin-top:10%;
}
.contact-info img{
    margin-bottom: 15%;
}
.contact-info h2{
    margin-bottom: 10%;
}
.col-md-9{
    background: #fff;
    padding: 3%;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
.contact-form label{
    font-weight:600;
}
.contact-form button{
    background: #25274d;
    color: #fff;
    font-weight: 600;
    width: 25%;
}
.contact-form button:focus{
    box-shadow:none;
}
body-nav {
    background-color: #E8E8E8;
    margin: auto;
}

nav {
    font-family: 'Roboto Mono', monospace;
}

.navbar-custom {
    background-color: #FFD500;
    padding-top: 15PX;
    padding-bottom: 15px;
}

.btn-custom {
    background-color: #5B7151;
    color: #E8E8E8;
    margin-right: 10px;
}

footer {
    background-color: #5B7151;
    font-family: 'Roboto Mono', monospace;
    color: #fff;
    padding: 10px;
}